@font-face {
  font-family: 'VelaSans';
  font-weight: 400;

  src: url("../fonts/VelaSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'VelaSans';
  font-weight: 500;

  src: url("../fonts/VelaSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'VelaSans';
  font-weight: 600;

  src: url("../fonts/VelaSans-SemiBold.woff2") format("woff2");
}
